<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufps.edu.co.appnotiufps">

    <!-- Permisos de internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- Permisos de acceso al GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- Permiso para que el movil pueda vibrar-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- Permiso para que el movil pueda enviar notificaciones -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <!-- Permiso para iniciar el servicio de notificaciones al volver iniciar el sistema-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- En esta seccion van la implementacion de las activitys-->
        <activity
            android:name=".activitys.principal.Inicio"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- el intent-filter solo lo debe tener el activity principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.secuendarias.ViewEvento"
            android:label="Ver evento"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <!-- En esta seccion van la implementacion de los servicios-->
        <service
            android:name=".services.Servicio"
            android:enabled="true"
            android:exported="true">
        </service>
        <receiver android:name=".services.AutoArranque" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>